.test {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }

#table2, td, th {
  border-collapse: collapse;
  border: 1px solid black;
  }
td, th{
  width: 100px;
}

.so-am{
  color:red;
}